body {
    background-image: url("/static/img/bg1.jpg") ;
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
}

.main_content {
    position: fixed;
    top: 7vh;
    left: 200px;
    width: 75vh;
    min-width: 75vh;
    min-height: 25vh;
    background: rgba(256, 256, 256, 0.9);
}

.text-logo {
    letter-spacing: 5px;
}

.link-btn {
    font-size: 12px;
    padding: 3px;
    margin: 0 10px;
    /*font-weight: bold;*/
    letter-spacing: 2px;
}

.daterange{
    width: 200px;
}
