body {
    background-image: url("/static/img/bg2.jpg") ;
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
}

.login_box {
    position: fixed;
    top: 15vh;
    right: 250px;
    width: 35vw;
    min-width: 30vh;
    min-height: 25vh;
    background: rgba(256, 256, 256, 0.9);
}
