body {
    min-width: 95vw;
    min-height: 75vh;
}

* {
    text-decoration: none;
    color: black;
}


a,a:hover {
    color: black;
}

nav ul{
    position: absolute!important;
    top: -15px;
    right: 20px;
}
 nav ul li{
     display: inline;
     padding: 10px 10px;
 }

 li a{
     font-size: 14px;
     /*font-weight: bold;*/
     color: black;
 }



#alert-box {
    position: fixed;
    bottom: 10px;
    left:10px;
    width: 300px
}


.starrating > input {display: none;}  /* Remove radio buttons */

.starrating > label:before {
  content: "\f005"; /* Star */
  margin: 2px;
  font-size: 2em;
  font-family: FontAwesome;
  display: inline-block;
}

.starrating > label
{
  color: #222222; /* Start color when not clicked */
}

.starrating > input:checked ~ label
{ color: #ffca08 ; } /* Set yellow color when star checked */

.starrating > input:hover ~ label
{ color: #ffca08 ;  } /* Set yellow color when star hover */

