.carousel-item img {
     max-height: 300px;
     width: auto!important;
    margin: auto;
 }

 .bg-slide {
     background-color: rgba(100,100,100,0.3);
 }

 .icons{
     text-align: center;
 }

 .icons div i {
     font-size: 42px;
     margin-top: 30px;
     margin-bottom: 10px;
 }