<nav >
    <ul class="my-2 navbar ">
        {% if current_user.is_authenticated %}<li class="nar-item">Welcome back, {{current_user.username}}!</li>{% endif %}
        {% if current_user.is_authenticated and current_user.is_owner%}
            <li class="nar-item"><a href="{{url_for('apartments')}}">My apartments</a></li>
        {% else %}
            <li class="nar-item"><a href="{{url_for('add_apartment')}}">Host a Home</a></li>
        {% endif %}
        <li class="nar-item"><a href="{{ url_for('help') }}">Help</a></li>
        {% if current_user.is_authenticated %}
            <li class="nar-item"><a href="{{ url_for('orders') }}">Orders</a></li>
            <li class="nav-bar"><a href="{{ url_for('reviews') }}">Reviews</a></li>
            <li class="nav-bar dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="message" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-offset="-300, 20">Message</a>
                <div class="dropdown-menu" style="width: 200px" aria-labelledby="message">
                    {%  if current_user.messages %}
                        {% for m in current_user.messages  %}
                            <a href="{{url_for('message', id=m.id)}}"><div class="p-3">{{m.content}} <small class="pull-right my-1">{{ m.from_user.username }}</small></div></a>
                            {% if not loop.last %}
                                <div class="dropdown-divider"></div>
                            {% endif %}
                        {% endfor %}
                    {% else %}
                        <div class="my-2 text-center"><h5>No Messages</h5></div>
                    {% endif  %}
                </div>
            </li>
            <li class="nav-bar"><a href="{{ url_for('logout')}}">Logout</a> </li>
        {% else %}
            <li class="nav-bar"><a href="{{ url_for('login') }}">Login</a></li>
            <li class="nav-bar"><a href="{{ url_for('signup') }}">Signup</a></li>
        {% endif %}
    </ul>
</nav>